/* Main CSS */

:root{
    --bg-color:#fff8f3;
    --primary-color:#fd6e0a;
    --default-color:#181818;
    --gray-one:#474747;
    --gray-second:#9d9b99;
}


body{
    font-family: 'Open Sans', sans-serif;
    background-color: lightcyan;
    color: var(--default-color);
}

/* Header Start */

/* Navbar */

#header{
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: bottom right;
}

.nav_ul ul li a{
    font-size: 13px;
}

.nav_ul ul li:last-child{
    padding-left: 10px;
}

.main_btn{
    background-color: var(--primary-color);
    border:1px solid var(--primary-color);
}

.main_btn a{
    color: #fff;
    text-decoration: none;
    font-size: 16px !important;
}

.logo h1{
    font-size: 30px;
    font-weight: 700;
}

.logo h1 .uniq_colr{
    color: var(--primary-color);
}


/* Head Section */

.head_sec_txt h3{
    color: var(--gray-one);
}

.head_sec_txt, .head_sec_img{
    width: 50%;
}

.head_sec_txt {
    margin-top: -150px;
}

.head_section p {
    color: var(--gray-second);
    font-size: 15px;
}

.main_btn_2 {
    background-color: #fff;
}

.main_btn_2 a {
    color: var(--primary-color);
}

/* Header End */